<div class="row" #projects>
  <div class="column">
    <p-card
      header="Project 3"
      subheader="Tech Stack: Angular"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <div class="container">
          <img alt="Card" src="AngularImg.png" />
          <div class="overlay">
            <div class="text"><img alt="Card" src="wip.jpg" /></div>
          </div>
        </div>
      </ng-template>
      <p>
        Will update once it is crafted to perfection. <br />
        Thanks for your patience!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1 mb-2">
          <p-button label="Visit" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="column">
    <p-card
      header="Project 2"
      subheader="Tech Stack: NodeJs"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <div class="container">
          <img alt="Card" src="nJs.png" />
          <div class="overlay">
            <div class="text"><img alt="Card" src="wip.jpg" /></div>
          </div>
        </div>
      </ng-template>
      <p>
        Will update once it is crafted to perfection. <br />
        Thanks for your patience!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Visit" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="column">
    <p-card
      header="Project 1"
      subheader="Tech Stack: Spring Boot"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <div class="container">
          <img alt="Card" src="sb.png" />
          <div class="overlay">
            <div class="text"><img alt="Card" src="wip.jpg" /></div>
          </div>
        </div>
      </ng-template>
      <p>
        Will update once it is crafted to perfection.<br />
        Thanks for your patience!
      </p>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="Visit" class="w-full btnProj" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<!-- <div class="flex justify-content-center">
  
</div> -->
