<!-- <section id="about" class="p-mt-5 p-p-3">
  <h1>About Me</h1>
  <p>Write a brief introduction about yourself here.</p>
  Passionate about creating <b>Web Pages</b> with <b>UI/UX User Interface</b>, I
  have years of experience and many clients are happy with the projects carried
  out. .about__item <b>My Skills Are:</b> HTML, CSS, JavaScript, React, Git &
  GitHub, Bootstrap, Flutter & Figma.
</section> -->

<section id="about">
  <div class="card">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2 px-2">
          <p-avatar image="onkar.png" shape="circle" />
          <span class="font-bold">About Me</span>
        </div>
      </ng-template>
      <p class="m-0">
        Hello, I’m Onkar Ashish, a software developer with over 3 years of
        experience. I specialize in HTML, CSS, JavaScript, and Angular for
        crafting dynamic web applications. I excel in backend development using
        Java and Spring Boot, enabling me to deliver seamless full-stack
        solutions. Proficient in Git and GitHub for version control, and
        experienced with Bootstrap for responsive design, I am passionate about
        building efficient and user-friendly web experiences.
      </p>
    </p-fieldset>
  </div>
</section>
