@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
// import Quill styles for contact page
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
html,
body,
head {
  height: 100%;
  margin: 0;
  font-family: "Andika";
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
}

h1,
h2,
h3 {
  color: #28861b;
}

a {
  color: rgb(12, 12, 156);
}

.p-button {
  border-radius: 13px;
}

/* Responsive Utilities */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  .p-card {
    border-radius: 10px;
  }
}
footer {
  height: 80px; /* Adjust height accordingly */
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}
